.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    
}



.category-item {
    flex: 0 0 auto;
    margin-right: 10px; /* Khoảng cách giữa các phần tử */
    text-align: center; /* Căn giữa nội dung */
}

.category-item img {
    width: 100px;
    height: 100px; /* Đảm bảo hình ảnh có cùng kích thước */
    object-fit: cover; /* Đảm bảo hình ảnh không bị biến dạng */
}


*.icon-white {color: white}
*.icon-black {color: black}
*.icon-green {color: green}
*.icon-dark {color: gray}


.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 10px;
}
.category-item {
    flex: 0 0 auto;
    width: 150px; /* Adjust the width as needed */
    margin-right: 15px;
}


    .fixed-size-img {
        width: 100%; /* Hoặc chiều rộng cố định, ví dụ: 200px */
        height: 200px; /* Chiều cao cố định */
        object-fit: contain;
    }

    



    @media (min-width: 1200px) {
        .col-lg-2-4 {
            flex: 0 0 auto;
            width: 20%;
        }
    }
    