<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Đơn hàng', 'none')" />

<body>


	<div class="row">
		<div class="col-md-2">
			<div class="container-fluid">
				<div th:replace="navigation :: menu"></div>
			</div>
		</div>

		<div class="col-md-10">
			<div class="container-fluid">

				<div>
					<h2>Quản lí đơn hàng</h2>
				</div>

				<div th:replace="fragments :: search_form_and_message" />

				<div>
					<table class="table table-hover table-sm">
						<thead class="thead-dark">
							<tr>
								<th th:replace="fragments :: column_link('/orders','id', 'ID', 'none')"></th>
								<th th:replace="fragments :: column_link('/orders', 'customer', 'Khách hàng', 'none')">
								</th>
								<th th:replace="fragments :: column_link('/orders', 'total', 'Tổng tiền', 'none')"></th>
								<th th:replace="fragments :: column_link('/orders', 'orderTime', 'Thời gian', 'none')">
								</th>
								<th th:replace="fragments :: column_link('/orders', 'destination', 'Địa chỉ', 'none')">
								</th>
								<th
									th:replace="fragments :: column_link('/orders', 'paymentMethod', 'Thanh toán', 'none')">
								</th>
								<th th:replace="fragments :: column_link('/orders', 'status', 'Status', 'none')"></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="order : ${listOrders}">
								<td>[[${order.id}]]</td>
								<td>
									<a class="linkCustomerDetail"
										th:href="@{'/customers/detail/' + ${order.customer.id}}">
										[[${order.customer.fullName}]]
									</a>
								</td>
								<td>
									<div th:replace="fragments :: format_currency(${order.total})"></div>
								</td>
								<td>
									<div th:replace="fragments :: format_time(${order.orderTime})"></div>
								</td>
								<td>[[${order.destination}]]</td>
								<td>[[${order.paymentMethod}]]</td>
								<td>[[${order.status}]]</td>
								<td>
									<a th:href="@{'/orders/detail/' + ${order.id}}"
										class="btn btn-info btn-sm linkOrderDetail">
										<i class="fas fa-file-alt"></i> Xem
									</a>
									&nbsp;
									<div th:replace="fragments :: edit('order', '/orders/edit/' + ${order.id})"
										class="d-inline-block"></div>
									&nbsp;
									<div th:replace="fragments :: delete('order', ${order.id}, '/orders/delete/' + ${order.id}, true)"
										class="d-inline-block"></div>
								</td>
							</tr>
						</tbody>
					</table>

				</div>

				<!-- <div th:replace="fragments :: pagination('orders')"></div> -->

				<div th:replace="modal_fragments :: confirm_modal" />
			</div>
		</div>
	</div>



	<div class="modal fade" id="detailModal">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
			</div>
		</div>
	</div>

	<div class="modal fade" id="orderDetailModal">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
			</div>
		</div>
	</div>

	<div th:replace="fragments :: footer"></div>


	<script th:src="@{/js/common_list.js}"></script>
	<script type="text/javascript">
		moduleURL = "[[@{/orders}]]";

		$(document).ready(function () {
			handleLinkViewCustomerDetails();
			handleLinkViewOrderDetails();
			handleLinkDeleteOrder();
		});

		function handleLinkDeleteOrder() {
			$(".link-delete").on("click", function (e) {
				e.preventDefault();
				showDeleteConfirmModal($(this), 'order');
			});
		}

		function handleLinkViewCustomerDetails() {
			$(".linkCustomerDetail").on("click", function (e) {
				e.preventDefault();
				linkDetailURL = $(this).attr("href");
				$("#customerDetailModal").modal("show").find(".modal-content").load(linkDetailURL);
			});
		}

		function handleLinkViewOrderDetails() {
			$(".linkOrderDetail").on("click", function (e) {
				e.preventDefault();
				linkDetailURL = $(this).attr("href");
				$("#orderDetailModal").modal("show").find(".modal-content").load(linkDetailURL);
			});
		}
	</script>
</body>

</html>