<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

    <title>Đăng nhập - Book.store Admin</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    
</head>
<body>
<div class="container-fluid text-center">
    <div>
      <img th:src="@{/images/YY.png}" width="400px" style="margin-top:50px"/>
    </div>

    <form th:action="@{/login}" method="post" style="max-width: 450px; margin: 0 auto">
    	<div th:if="${param.error}">
    	    <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
    	</div>
        <div th:if="${param.logout}">
            <p class="text-warning">You have been logged out.</p>
        </div>

        <div class="border border-secondary rounded p-3">
            <p>Truy cập vào Book.store Admin</p>
            <p>
                <input type="email" name="email" class="form-control" placeholder="E-mail" required />
            </p>
            <p>
                <input type="password" name="password" class="form-control" placeholder="Password" required />
            </p>
            <p>
                <input type="checkbox" name="remember-me" /> &nbsp; Remember Me
            </p>
            <p>
                <input type="submit" value="Đăng nhập" class="btn btn-primary" style="color: white; background-color: black;"/>
            </p>
        </div>
    </form>

    <div>
        <p>Copyright © 2024 BookStrore Studio. Powered by binzet.dn</p>
    </div>
</div>
</body>
</html>
