*.icon-white {color: white}
*.icon-black {color: black}
*.icon-green {color: green}
*.icon-dark {color: gray}
*.icon-red {color: rgb(147, 13, 13)}

    .image-button {
        background: none;
        border: none;
        padding: 0;
    }
    
    .custom-pagination .page-item a.page-link {
    color: black; /* Màu chữ */
    border: 1px solid black; /* Viền đen */
    background-color: white; /* Màu nền */
}

.custom-pagination .page-item.active a.page-link {
    background-color: black; /* Màu nền cho nút đang active */
    color: white; /* Màu chữ cho nút đang active */
    border: 1px solid black; /* Viền đen cho nút đang active */
}
 

.text-black {
    color: black;
}


.table td, .table th {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}
.table img {
    max-width: 100%; 
}

.tab-content {
    max-height: calc(100vh - 60px); /* Chiều cao tối đa của phần nội dung tab */
    overflow-y: auto; /* Hiển thị thanh cuộn dọc khi cần thiết */
}





