*.icon-white {color: white}
*.icon-black {color: black}
*.icon-green {color: green}
*.icon-dark {color: gray}
*.icon-red {color: rgb(147, 13, 13)}

    .image-button {
        background: none;
        border: none;
        padding: 0;
    }
