<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle}, 'none')" />
<body>

	<div class="row">
		<div class="col-2">
			<div class="container-fluid">
				<div th:replace="navigation :: menu"></div>
			</div>
		</div>

		<div class="col-10">
			<div class="container-fluid">
				<div>
					<h2>Quản lí giao hàng | [[${pageTitle}]]</h2>
				</div>
					
				<form th:action="@{/shipping_rates/save}" th:object="${rate}" method="post"
					style="max-width: 780px; margin:  0 auto;">
					<input type="hidden" th:field="*{id}" />
				<div class="border border-secondary rounded p-3">
				  <div class="form-group row">
					<label for="city" class="col-sm-4 col-form-label">Thành phố:</label>
					<div class="col-sm-8">
					  <select th:field="*{city}" class="form-control">
						  <option th:each="city : ${listCities}" th:value="${city.id}">[[${city.name}]]</option>
					  </select>
					</div>
				  </div>
				  
				  <div class="form-group row">
					<label for="district" class="col-sm-4 col-form-label">Quận:</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" th:field="*{district}" 
							minlength="3" maxlength="64" list="listDistricts" required> 
					  <datalist id="listDistricts">
						  
					  </datalist>
					</div>
				  </div>
				  
				  <div class="form-group row">
					<label for="postalCode" class="col-sm-4 col-form-label">Phí vận chuyển:</label>
					<div class="col-sm-8">
					  <input type="number" class="form-control" th:field="*{rate}" required step="0.01" min="0">
					</div>
				  </div>
			
				  <div class="form-group row">
					<label for="postalCode" class="col-sm-4 col-form-label">Thời gian giao(ngày):</label>
					<div class="col-sm-8">
					  <input type="number" class="form-control" th:field="*{days}" required step="1" min="0">
					</div>
				  </div>
						
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Thanh toán khi nhận hàng (COD):</label>
						<div class="col-sm-8">
							<input type="checkbox" th:field="*{codSupported}" />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Thanh toán trực tuyến (QR code)</label>
						<div class="col-sm-8">
							<input type="checkbox" th:field="*{codSupported}" />
						</div>
					</div>
							
								
				  <div class="text-center">
					  <input type="submit" value="Lưu" class="btn btn-primary m-3" />
					  <input type="button" value="Hủy" class="btn btn-secondary" id="buttonCancel" />
				  </div>
				</div>
				</form>
				
				<div th:replace="modal_fragments :: modal_dialog"></div>
				<div th:replace="fragments :: footer"></div>
			</div>
		</div>
	</div>
	

<script type="text/javascript">
	contextPath = "[[@{/}]]";
	moduleURL = "[[@{/shipping_rates}]]";
</script>
<script th:src="@{/js/common_form.js}"></script>
<script th:src="@{/js/common_form_city_district.js}"></script>	
</body>
</html>
