<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments :: page_head('Users - Book.store Admin', 'none')">
</head>
<body>
	<div class="container-fluid">
		<div th:replace="navigation:: menu"></div>
		<div>
			<h1>Quản Lí Người Dùng</h1>
			<a th:href="@{/users/new}" style="color: white;"><img
				th:src="@{/images/add.png}" width="40px"> </a> &nbsp; || &nbsp; <a
				th:href="@{/users/export/csv}" style="color: white;"> <img
				th:src="@{/images/csv-file-format-extension.png}" width="33px">
			</a> &nbsp; || &nbsp; <a th:href="@{/users/export/excel}"
				style="color: white;"><img th:src="@{/images/excel-file.png}"
				width="33px"> </a> &nbsp; || &nbsp; <a
				th:href="@{/users/export/pdf}" style="color: white;"><img
				th:src="@{/images/pdf-file-format-symbol.png}" width="33px"> </a>
		</div>

		<div th:replace="fragments :: seach_form_and_message('/users/page/1')"></div>

		<div class="full details">
			<table
				class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-dark">

					<tr>
						<th
							th:replace="fragments :: column_link('/users', 'id', 'ID', 'none')">
						<th>Hình Ảnh</th>

						<th
							th:replace="fragments :: column_link('/users', 'email', 'Email', 'none')">
						<th
							th:replace="fragments :: column_link('/users', 'firstName', 'Họ', 'none')">
						<th
							th:replace="fragments :: column_link('/users', 'lastName', 'Tên', 'none')">
						<th>Vai trò</th>

						<th
							th:replace="fragments :: column_link('/users', 'enabled', 'Enabled', 'none')">
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${listUsers}">
						<td>[[${user.id}]]</td>
						<td>
							<div th:replace="fragments :: user_photos"></div>
						</td>
						<td>[[${user.email}]]</td>
						<td>[[${user.firstName}]]</td>
						<td>[[${user.lastName}]]</td>
						<td>[[${user.roles}]]</td>
						<td>
							<div
								th:replace="fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})"></div>
						</td>
						<td>
							<div
								th:replace="fragments :: edit('user', '/users/edit/' + ${user.id})"></div>
							&nbsp;
							<div
								th:replace="fragments :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)"></div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div th:replace="fragments :: pagination('/users', 'users')"></div>
	<div th:replace="modal_fragments :: confirm_modal"></div>
	<div th:replace="fragments :: footer"></div>


	<script th:src="@{/js/common_list.js}"></script>
	<script type="text/javascript">
		moduleURL = "[[@{/users}]]";

		$(document).ready(function(){
			$(".link-delete").on("click", function(e){	
				e.preventDefault();
				showDeleteConfirmModal($(this), 'user');
			});
		});
	</script>

</body>
</html>
