<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" th:remove="tag">
	<form th:action="@{/settings/save_mail_templates}" method="post">
		<div class="container mt-4">
			<!-- Tab navigation -->
			<ul class="nav nav-tabs mb-4" id="mailTemplatesTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="customerVerification-tab" data-toggle="tab" href="#customerVerification" role="tab" aria-controls="customerVerification" aria-selected="true">Customer Verification</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="orderConfirmation-tab" data-toggle="tab" href="#orderConfirmation" role="tab" aria-controls="orderConfirmation" aria-selected="false">Order Confirmation</a>
				</li>
			</ul>
	
			<!-- Tab content -->
			<div class="tab-content">
				<div class="tab-pane fade show active p-3" id="customerVerification" role="tabpanel" aria-labelledby="customerVerification-tab">
					<div th:replace="settings/mail_templates/customer_verification:: content"></div>
				</div>
				<div class="tab-pane fade p-3" id="orderConfirmation" role="tabpanel">
					<div th:replace="settings/mail_templates/order_confirmation:: content"></div>
				</div>
			</div>
		</div>
	
		<div class="text-center mt-4">
			<button type="submit" class="btn btn-primary">Save</button>
		</div>
	</form>
	
</div>
</body>
</html>